<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="height: 100vh;">
    <div class="wrapper">
        <div class="main_content">

            <div id="load" class="mainDIv hide">
                
                <div class="loader"></div>
            </div>   
            <div id="infor" class="inforrr hide">Working on the script! Kindly Wait. Usually it takes upto 1 minute...</div>
            <div class="info" id="info">

                <%- include('./partials/header.ejs'); %>
                    <div class="row">
                        <div class="container">
                            <h2>Dashboard</h2>
                        <form action="/fillForm" method="POST">
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="" name="name" required id="name">
                                <label>Name<span style="color: red;">(*)</span></label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="" name="fname" required id="fname">
                                <label>Father's/Husband's Name<span style="color: red;">(*)</span></label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="" name="age" required id="age">
                                <label>Age<span style="color: red;">(*)</span></label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="" name="state" required id="state">
                                <label>State<span style="color: red;">(*)</span></label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="">
                                <label>Gender</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="">
                                <label>District</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <input class="effect-14" type="text" placeholder="">
                                <label>Assesmly Constituency</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-3 input-effect">
                                <button type="submit" id="submit" class="submit">Submit</button>
                            </div>
                        </form>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script>
        const name = document.getElementById('name')
        const fname = document.getElementById('fname')
        const age = document.getElementById('age')
        const state = document.getElementById('state')
        const info = document.getElementById('info')
        document.getElementById('submit').addEventListener('click', () => {
            handleSubmit();
        })
        function handleSubmit() {
            if(name.value != "" && fname.value != "" && age.value !="" && state.value !="") {
                document.getElementById('load').classList.remove('hide')
                document.getElementById('infor').classList.remove('hide')
                document.getElementById('info').classList.add('hide')
            }
            
        }
    </script>
</body>

</html>